# API Configuration
PORT=3000

# Firebase Configuration (For Frontend/Mobile)
FIREBASE_API_KEY=AIzaSyCfMcHUiUO0LwCvVX_PSuUbDQUsbzqk0E0
FIREBASE_AUTH_DOMAIN=pro-informatique.firebaseapp.com
FIREBASE_PROJECT_ID=pro-informatique
FIREBASE_STORAGE_BUCKET=pro-informatique.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=591192837161
FIREBASE_APP_ID=1:591192837161:web:aa8ff3d3f1bfd976b5a038
FIREBASE_MEASUREMENT_ID=G-SNZGYJNKM8

# Firebase Admin SDK Configuration (For Backend - Populate from Service Account)
# Go to Firebase Console -> Project Settings -> Service Accounts -> Generate New Private Key
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

# Frontend URL (For CORS)
ALLOWED_ORIGIN=https://proinformatique.dev
